.video {
    width: 640px;
    height:360px;
    margin-top: 20px;
}
.video-cart {
    background-color: #f2f2f2;
    width: 400px;
    height:121px;
    text-align: center;
    border-bottom: 1px solid black;
    margin-top: 20px;
}