{% extends "base.html"%}
{% load crispy_forms_tags %}

{% block 'title' %}{{video.title}}{% endblock %}

{% block 'content' %}

    
    <div class="row">

    <div class="col" style="max-width:700px;">
        
        <video class="video" controls poster="{{ video.thumbnail.url}}">
            <source src="{{video.video.url}}">
        </video>
        
        <h2 style="overflow-wrap: break-word; width: 100%;">{{video.title}}</h2>
        
         {% if user.is_authenticated %}
            {% if user in video.likes.all  %}
                <div style="float:right;">
                     <form action="{% url 'dislike-video' video.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" name="video_id" value="{{ video.id }}" class="like-button">Disike 💔 {{video.total_likes}}</button>
                    </form>
                </div>
            {% else %}
                <div style="float:right;">
                    <form action="{% url 'like-video' video.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" name="video_id" value="{{ video.id }}" class="like-button">Like ❤ {{video.total_likes}}</button>
                    </form>
                </div>
            {% endif %}
        {% endif %}       
        
        <p>{{video.date}}: {{video.views}} views</p>





        <a href="{% url 'profile-view' video.author %}">
            <img class="author-video-img" src="{{ video.author.profile.image.url}}">
            {{video.author}}
        </a>


            <h5 style="margin-top:10px;">Description:</h5>
            <div id="description">
                <p style="overflow-wrap: break-word; width: 100%;">{{video.description | truncatechars:101 }}</p>
                {% if description_length > 100 %}
                    <button class="description-button" onclick="showDescription('{{video.description}}')">↓ Show full description ↓</button>
                {% endif %}
            </div>
            

            <br>
            <h5>Comments:</h5>

            {% for comment in comments %}
                <div class="comment-card">

                    <a href="{% url 'profile-view' comment.author %}">
                        <img class="author-comment-img" src="{{ comment.author.profile.image.url}}">
                        {{comment.author}}
                    </a>

                    <p style="overflow-wrap: break-word; width: 100%;
                    padding:10px; margin-left:15px">{{comment.content}}</p>
                </div>
            {% empty %}
            <p style="padding:10px; margin-left:15px">No comments yet...</p>    
            {% endfor %}
            
        <hr>
        {% if user.is_authenticated %}

            <div>
                <form method="post">
                    {% csrf_token %}
                    {{comment_form | crispy}}
                    <input type="submit" value="Submit">    
                </form>
            </div>
        {% endif %}

    </div>

        <div class="col">


            {% for video in videos %}
                <a href="{{video.get_absolute_url}}" style="text-decoration: none;">   
                    <div class="video-card">
                            <img style="float: left;" src="{{video.thumbnail.url}}" width="160" height="120">
                            <p style="color:black; text-decoration: none"><br>{{video.title | truncatechars:25}}<br>
                                {{video.author}} <br>
                                Views: {{video.views}}</p>

                    </div>
                </a><br>
            {% endfor %}
            

        </div>
    </div>

{% endblock %}
