{% extends "base.html"%}

{% block 'title' %}{{profile.user.username}}{% endblock %}

{% block 'content' %}
    
    <img class="profile-img"src="{{user.profile.image.url}}"/>
    <h3>{{profile.user.username}}</h3>
    <h5>Followers: {{profile.count_followers}}</h3>

    {% if user.is_authenticated %}

        {% if profile.user == request.user %}

        <form action="{% url 'follow' profile.id %}" method="post">
            {% csrf_token %}
            <button type="submit" name="profile_id" value="{{ profile.id }}" class="btn btn-danger" disabled>Subscribe</button>
        </form>
        
        {% else %}

            {% if request.user in profile.followers.all %}
                <form action="{% url 'unfollow' profile.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="profile_id" value="{{ profile.id }}" class="btn btn-danger">Unsubscribe</button>
                </form>
            {% else %}
                <form action="{% url 'follow' profile.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="profile_id" value="{{ profile.id }}" class="btn btn-danger">Subscribe</button>
                </form>
            {%endif %}

        {% endif %}

    {% endif %}

    <br><hr>
    <p style="text-align:justify;">{{user.profile.bio}}</p>
    <hr>
    
    <div class="row" id="content">
        {% for video in videos %}
                <a href="{{video.get_absolute_url}}" style="text-decoration: none;">   
                    <div class="video-home-card">
                            <img style="float: left;" src="{{video.thumbnail.url}}" width="256" height="134">
                            <br>
                            <img style="float:left; border-radius:50%; padding:5px" src="{{video.author.profile.image.url}}" width="50" height="50">
                            <p style="color:black; text-decoration: none"><br>{{video.title | truncatechars:25}}<br>
                                {{video.author}} views: {{video.views}}
                            </p>
                    </div>
                </a>
        {% endfor %}
    </div>

{% endblock %}