{% extends "base.html"%}
{% load crispy_forms_tags %}

{% block 'title' %}Subbox{% endblock %}

{% block 'content' %}
    <h1>Your latest feed:</h1>
    <p style="float:left">Chanels you are subscribed to:</p>
    {% for chanel in subbed_chanels %}
        <a href="{% url 'profile-view' chanel %}"> {{chanel.user.username}}</a> |
    {% endfor %}
    <div class="row" style="clear:both;">
        {% for video in videos %}
                <a href="{{video.get_absolute_url}}" style="text-decoration: none;">   
                    <div class="video-home-card">
                            <img style="float: left;" src="{{video.thumbnail.url}}" width="256" height="134">
                            <br>
                            <img style="float:left; border-radius:50%; padding:5px" src="{{video.author.profile.image.url}}" width="50" height="50">
                            <p style="color:black; text-decoration: none"><br>{{video.title | truncatechars:25}}<br>
                                {{video.author}} views: {{video.views}}
                            </p>
                    </div>
                </a>
        {% endfor %}
    </div>
{% endblock %}